.cabecalho-lista {
    background-color: var(--azul);
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.lista-logo {
    width: var(--tamanhoIcone);
}

.estastisticas h1 {
    font-size: var(--fonteTitulo);
    color: var(--azul);
    font-weight: 800;
    text-align: center;
    width: 30ch;
    word-break: break-word;
}

.estastisticas{
    display: flex;
    justify-content: center;
}

.estastisticas-link {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    padding: 1rem;
    border-radius: 2rem;
}



.link-text {
    color: var(--amarelo);
    font-weight: 800;
}