.cabecalho-lista {
    background-color: var(--azul);
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.lista-logo {
    width: var(--tamanhoIcone);
}

.estastisticas h1 {
    font-size: var(--fonteTitulo);
    color: var(--azul);
    font-weight: bolder;
    text-align: center;
    width: 30ch;
    word-break: break-word;
}

.estastisticas{
    display: flex;
    justify-content: center;
}

.estastisticas-link {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    padding: 1rem;
    border-radius: 2rem;
}

.link-text {
    color: var(--amarelo);
    font-weight: bolder;
}


/* PROMOÇOES */
.cabecalho_promocoes{
    background-color: var(--amarelo);
    padding: 1rem;
    
}

.cabecalho_promocoes h1 {
    margin-bottom: 0.5rem;
    color: var(--azul);
    font-weight: bolder;
}

.promocoes-carrosel{
    overflow-x: auto;
    padding: 1rem 0;
    scroll-behavior: smooth;
}
@media (min-width: 800px){
.promocoes-carrosel::-webkit-scrollbar {
    height: 8px;
}

.promocoes-carrosel::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.promocoes-carrosel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
}
    

.promocoes-01{
    display: flex;
    gap: 2rem;
}
.promocoes {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 20rem;

    
}

.promocoes:hover {
    transform: scale(1.03);
}

.promocoes_img img {
    width: var(--tamanhoFotoGrande);
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.promocoes_img img:hover {
    transform: scale(1.1);
}

.promocoes_produtos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: var(--bordaRaio);
}

.promocoes_produtos h3 {
    font-size: var(--fonteSegundaria);
    font-weight: bolder;
    color: var(--verde);
    
    margin-bottom: 0.5rem;
    
    
}

.promocoes_produtos span {
    font-size: 1.5rem;
    font-size: var(--fonteSegundaria);
    color: var(--azul);
    font-weight: bolder;
}

.promocoes_produtos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.promocoes_produtos img {
    width: var(--tamanhoFotoPequena);
    margin-right: 0.6rem;
}

.promocoes_produtos button {
    padding: 0.5rem 1rem;
    background-color: var(--azul);
    color: var(--amarelo);
    font-weight: bolder;
    border: none;
    border-radius: var(--bordaRaio);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.cabecalho_mercados{
    margin: 0rem 1rem;
}
.mercados_flex{
    margin: 3rem 0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mercados_flex img {
    width: var(--tamanhoFotoGrande);
    transition: transform 0.3s ease;
    border-radius: var(--bordaRaio);
    
}

.mercados_flex img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px){
    .mercados_flex img {
        width: var(--tamanhoFotoPequena);
        
    }
}

.cabecalho_setores{
    margin: 0rem 1rem;
}
.setores-mercado{
    justify-content: space-between;
}

.button {
    background-color: transparent;
    border: none;

    color: var(--verde);
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.button:focus {
    outline: none;
    border: 5px solid var(--amarelo);
    border-radius: var(--bordaRaio);
}

.button, .button:focus {
    font-weight: bolder;
    font-size: var(--fonteTitulo);
    padding: 0.5rem;
}
