.modal {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: var(--espacamentoPequeno);
  grid-row-gap: var(--espacamentoPequeno);
  background-color: var(--azul);
  padding: var(--espacamentoMaior);
  border-radius: var(--bordaRaio);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 15rem;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  align-items: center;
  max-width: 18.75rem;
}

.modal-login-voltar {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  align-items: center;
}

.modal-login-voltar img {
  max-width: var(--tamanhoIcone);
  height: auto;
}

.modal-login-titulo {
  grid-area: 1 / 2 / 1 / 2;
  font-size: var(--fonteTitulo);
  color: var(--branco);
  display: flex;
  align-items: center;
}

dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}

.inputs-container {
  grid-area: 2 / 2 / 2 / 2; 
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--espacamentoPequeno);
  justify-content: center;
}

.dialogo-login-input-email {
  grid-area: 2 / 2 / 2 / 2;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  border: var(--borda) #d1d5db;
  transition: border-color 0.3s ease;
}

.dialogo-login-input-senha {
  grid-area: 3 / 2 / 3 / 2;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  border: var(--borda) #d1d5db;
  transition: border-color 0.3s ease;
}

.dialogo-button-esqueceu-senha {
  grid-area: 4 / 2 / 4 / 2;
  color: var(--amarelo);
  cursor: pointer;
  font-size: var(--fontePequena);
  text-decoration: none;
  display: inline-block;
}

.dialogo-login-link-cadastro {
  grid-area: 5 / 2 / 5 / 2;
  color: var(--amarelo);
  cursor: pointer;
  font-size: var(--fontePequena);
  font-weight: var(--fonteSemiBold);
  text-decoration: none;
}

.dialogo-login-button {
  all: unset; 
  grid-area: 5 / 3 / 5 / 3;
  font-weight: var(--fonteSemiBold);
  justify-self: end;
  padding: var(--espacamentoPequeno) var(--espacamentoMenor);
  border-radius: var(--bordaRaio);
  background-color: var(--amarelo);
  color: var(--verde);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
} 