/* Modal Similares */
.modal--similares {
  grid-template-rows: auto 1fr;
}

/* modal login */
.modal--login {
  display: grid;
  grid-template-columns: auto max-content 1fr auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-column-gap: var(--espacamentoMenor);
  grid-row-gap: var(--espacamentoMenor);
  align-items: center;
  max-width: 13rem; 
  min-height: 10rem; 
  text-align: left;
  grid-template-areas:
    "back   title  .        ."
    ".      email  email    ."
    ".      passwd passwd   ."
    ".      error  error    ."
    ".      forgot button   button"
    ".      signup button   button";
}

.modal--login > form {
  display: contents;
}

.modal-login-voltar {
  grid-area: back;
  display: flex;
  align-items: center;
}

.modal-login-voltar img {
  max-width: var(--tamanhoIconePequeno);
  height: auto;
}

.modal-login-titulo {
  grid-area: title;
  font-size: var(--fonteSegundaria);
  color: var(--branco);
  display: flex;
  align-items: center;
  margin: 0;
}

dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}

.dialogo-login-input-email {
  all: revert;
  grid-area: email;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
}

.dialogo-login-input-senha {
  all: revert;
  grid-area: passwd;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
}


.dialogo-button-esqueceu-senha {
  grid-area: forgot;
  justify-self: start;
  color: var(--amarelo);
  cursor: pointer;
  font-size: var(--fontePequena);
  text-decoration: none;
}

.dialogo-login-link-cadastro {
  grid-area: signup;
  justify-self: start;
  background: none;
	color: var(--amarelo);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: var(--fontePequena);
  font-weight: var(--fonteSemiBold);
  text-decoration: none;
  text-align: left;
}

.dialogo-login-button {
  all: unset;
  grid-area: button;
  align-self: center;
  justify-self: center;
  font-size: var(--fontePequena);
  font-weight: var(--fonteSemiBold);
  padding: var(--espacamentoPequeno) var(--espacamentoMenor);
  border-radius: var(--bordaRaio);
  background-color: var(--amarelo);
  color: var(--verde);
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.dialogo-login-input-email:disabled,
.dialogo-login-input-senha:disabled,
.dialogo-login-link-cadastro:disabled,
.dialogo-login-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}