.cabecalho-lista {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
}

.lista-logo {
    width: var(--tamanhoIconeGrande);
}

.carrinho-container img {
width: var(--tamanhoIcone);
}
.cabecalho-lista img {
    padding: var(--espacamentoMenor);
}

.carrinho-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-count {
    position: absolute;
    top: 0.5rem;
    right:0.875rem;
    background-color: var(--vermelho);
    color: white;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    font-size:0.6rem;
    font-weight: var(--fonteBold);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.cabecalho-estastisticas {
    margin: 6rem 0rem 3rem 0rem;
}
.estastisticas h1 {
    font-size: var(--fonteTitulo);
    color: var(--azul);
    font-weight: bolder;
    text-align: center;
    width: 30ch;
    word-break: break-word;
    margin-bottom: var(--espacamentoMaior);
}

.estastisticas{
    display: flex;
    justify-content: center;
}

.estastisticas-link {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    padding:var(--espacamentoMenor);
    border-radius: var(--bordaRaio);
}

.estastisticas-link img{
margin-right: 0.8rem;
}

.link-text {
    color: var(--amarelo);
    font-weight: bolder;
}


/* PROMOÇOES */
.cabecalho_promocoes{
    background-color: var(--amarelo);
    padding:var(--espacamentoMenor);
    
}

.cabecalho_promocoes h1 {
    margin-bottom: var(--espacamentoPequeno);
    color: var(--azul);
    font-weight: bolder;
}
  

.promocoes-01{
    display: flex;
    gap: var(--espacamentoMaior);
}
.promocoes {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    border-radius: var(--bordaRaio);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 20rem;
    padding: 0px 0.5rem;
}

.promocoes:hover {
    transform: scale(1.03);
}

.promocoes_img{
    display: flex;
    align-items: center;
}

.promocoes_img img {
    width: var(--tamanhoFotoGrande);
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.promocoes_img img:hover {
    transform: scale(1.1);
}

.promocoes_produtos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--espacamentoMenor);
    border-radius: var(--bordaRaio);
}

.promocoes_produtos h3 {
    font-size: var(--fonteSegundaria);
    font-weight: bolder;
    color: var(--verde);
    margin-bottom: var( --espacamentoPequeno); 
}

.promocoes_produtos span {
    font-size: var(--fontePrincipal);
    color: var(--azul);
    font-weight: bolder;
}

.promocoes_produtos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--espacamentoPequeno);
}

.promocoes_produtos img {
    width: var(--tamanhoFotoPequena);
    margin-right: var(--espacamentoPequeno);
}

.promocoes_produtos button {
    padding: var(--espacamentoPequeno) var(--espacamentoMenor);
    background-color: var(--azul);
    color: var(--amarelo);
    font-weight: bolder;
    border: none;
    border-radius: var(--bordaRaio);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.cabecalho_mercados{
    margin: 0rem 1rem;
}
.mercados_flex{
    margin: var(--espacamentoMaior) 0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mercados_flex img {
    width: var(--tamanhoFotoGrande);
    transition: transform 0.3s ease;
    border-radius: var(--bordaRaio);
    
}

.mercados_flex img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px){
    .mercados_flex img {
        width: var(--tamanhoFotoPequena);
        
    }
}

.cabecalho_setores{
    margin: 0rem var(--espacamentoMenor);
}
.setores-mercado{
    justify-content: space-between;
}

.button {
    background-color: transparent;
    border: none;
    color: var(--verde);
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: none;
    font-weight: bolder;
    font-size: var(--fonteTitulo);
}

.button:focus {
    outline: none;
    border: 5px solid var(--amarelo);
    border-radius: var(--bordaRaio);
}

.button.selected {
    border: 5px solid var(--amarelo);
    border-radius: var(--bordaRaio);
}

.button, .button:focus, .button.selected {
    padding: var(--espacamentoPequeno);
}

.comparativo{

    display: flex;
    font-size: var(--fonteTitulo);
    font-weight: var(--fonteBold);
    color: var(--azul);
    margin: 0 0 var(--espacamentoMaior) 0;
}

.comparativo span{
    font-size: var(--fonteTitulo);
    font-weight: var(--fonteBold);
    color: var(--amarelo);
    
}



@media (min-width: 1024px){
    .promocoes-01{
        display: flex;
        gap: var(--espacamentoMaior);
    }
}

  
