.secao_estatisticas{

    display: flex;
    color: var(--amarelo);
    gap: var(--espacamentoMenor);
    margin: var(--espacamentoMaior) var(--espacamentoMenor);
    text-align: center;

}

.secao_estatisticas_item{

    border-radius: var(--bordaRaio);
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMenor);
    padding: var(--espacamentoMenor);
}

.secao_estatisticas_item_titulo{

    font-size: 0.625rem;
}