main {
    .secao_conferir_produtos {

        h2 {
            color: var(--amarelo);
            font-weight: var(--fonteBold);
            margin: var(--espacamentoMenor) var(--espacamentoMenor);
        }

        .scroll_conferir_produtos {
            margin:0 var(--espacamentoMenor) ;
        }

        img {
            margin:0 var(--espacamentoMenor);
        }
    }

    .secao_resumo_entrega {
        margin: var(--espacamentoMaior) var(--espacamentoMenor);
        

        h3 {
            color: var(--amarelo);
            font-weight: var(--fonteBold);
        }


        .escolha_entrega {
            margin: var(--espacamentoMenor) 0;
            display: flex;
            flex-direction: column;
            gap: var(--espacamentoMenor);

           
           
            .entrega_opcao_1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .entrega_local {
                    display: flex;
                    width: 90vw;
                }

                 .checkbox {
                    width: 20px; 
                    height: 20px; 
                    border-radius: 50%; 
                    background-color: transparent;
                    border: 3px solid #007BFF;
                    cursor: pointer;
                    appearance: none;
                    -webkit-appearance: none;
                }

            }

            .entrega_opcao_2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%; 
                
            .checkbox_2 {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid #007BFF;
                cursor: pointer;
                appearance: none; 
                -webkit-appearance: none;
            }


            }

            label {
            font-size: var(--fonteRegular);
            color: var(--azul);
            font-weight: var(--fonteBold);
            min-width: 8rem;
         }

            input[type="box"] {
                font-size: var(--fontePequena);
                border: none;
                color: var(--verde);
                font-weight: var(--fonteExtraBold);
                width: 100%;
                text-overflow: ellipsis;
            }

            input[type="checkbox"] {
                display: inline-block;
                appearance: none;
                -webkit-appearance:none;
                -moz-appearance: none;
               border-radius: 50%;
               border: 3px solid var(--azul);
               outline: none;
               cursor: pointer;
               transition: background-color 0.3s ease;
            } 
            
            input[type="checkbox"]:hover {
                background-image: radial-gradient(circle at center, #fff, #fff, #fff, var(--azul), var(--azul) );
            }

            input[type="checkbox"]:checked {
                background-color: var(--azul);
                background-image: none;
            }

            
        }

    }

    .secao_forma_pagamento {
        margin: var(--espacamentoMaior) var(--espacamentoMenor);
        
        h3 {
            font-size: var(--fonteTitulo);
            font-weight: var(--fonteBold);
            color: var(--amarelo);
        }

        ul {
            display: flex;
            align-items: center;
            gap: var(--espacamentoMenor);
            overflow-y: hidden;
            overflow-x: auto;
            margin: var(--espacamentoMenor) 0;

            li {

                button {
                    border: none;
                    color: var(--amarelo);
                    font-weight: var(--fonteBold);
                    border: 3px solid var(--azul);
                    border-radius: var(--bordaRaio);
                    padding: var(--espacamentoMenor);
                    min-width: max-content;
                }

                button:hover {
                    cursor: pointer;
                    background-color: var(--azul);

                }
            }
            

        .barraRolagem {
                scrollbar-color: var(--azul) #FFF;
                scrollbar-width: thin;
                scroll-snap-type: x mandatory;
            }
            
            .barraRolagem--amarelo{
                scrollbar-color: var(--amarelo) #FFF;
            }
            
            .barraRolagem::-webkit-scrollbar {
                width: 3px;
            }
            
            .barraRolagem::-webkit-scrollbar-track {
                background-color: #ffffff; /* Cor de fundo da faixa da barra de rolagem */
            }
            
            .barraRolagem::-webkit-scrollbar-thumb {
                background-color: #054AAE;
                border-radius: 10px; /* Bordas arredondadas para a parte deslizante */
            }
            }

            .img_cartao_escolhido {
                width: 100%;
                margin:  var(--espacamentoMenor) 0;
                color: var(--azul);
                display: flex;
                gap: var(--espacamentoMaior);
                
                .cartao_escolhido {
                    display: flex;
                    flex-direction: column;
                    gap: var(--espacamentoMenor);
                    min-width: max-content;

                    :nth-child(2) {
                        font-weight: var(--fonteBold);
                    }

                }

               img {
                width: 4,35rem;
                height: 2.7rem;
               }

               .cartao_excluir {
                display: flex;
                align-items: flex-end;

                .excluir {
                width: 0.725rem;
                height: 0.725rem;
               }

               }

               
            }

            .finalizar_compra {
                display: flex;
                justify-content: space-between;
                color: var(--azul);
                font-weight: var(--fonteBold);
                font-size: 0.75rem;

                .compra_total {
                    display: flex;
                    flex-direction: column;
                    gap: var(--espacamentoMenor);

                    :nth-child(2) {
                        color: var(--verde);
                    }

                }

                .entrega_total {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: var(--espacamentoMenor);
                }
            }

            .finalizar_compra_botao {
                display: flex;
                justify-content: center;
                margin: var(--espacamentoMaior);
                
            button {
             background-color: var(--verde);
             color: var(--branco);
             font-weight: var(--fonteSemiBold);
             font-size: var(--fonteSegundaria);
             border: none;
             width: 10.6rem;
             height: 3rem;
             border-radius: var(--bordaRaio);
             
            }

            button:hover {
                background-color: #2f7339e9;
                cursor: pointer;
            }
            }

        }
    }