

.modal-cadastro-titulo {
  grid-row: 1;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  justify-self: center;
  font-size: var(--fonteSegundaria);
  color: var(--branco);
  display: flex;
  align-items: center;
}

dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal_form_cadastro {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(7, auto);
  grid-column-gap: var(--espacamentoMenor);
  grid-row-gap: var(--espacamentoMenor);
  align-items: center;
  max-width: 15rem;
  height: 15rem;
  justify-items: center;
  row-gap: var(--espacamentoPequeno);
}


.modal_form_cadastro .dialogo-cadastro-input-nome {
  grid-row: 2;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
}

.modal_form_cadastro .dialogo-cadastro-input-email {
  grid-row: 3;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
}

.modal_form_cadastro .dialogo-cadastro-input-cpf {
  grid-row: 4;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
}

 .modal_form_cadastro .dialogo-cadastro-input-senha {
  grid-row: 5;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
}

.modal_form_cadastro .dialogo-cadastro-input-confirme-senha {
  grid-row: 6;
  grid-column: span 1 / span 3;
  grid-column-start: 1;
  padding: var(--espacamentoPequeno);
  font-size: var(--fontePequena);
  border-radius: var(--bordaRaio);
  transition: border-color 0.3s ease;
}

.modal_form_cadastro .dialogo-cadastro-link-login {
  grid-row: 7;
  grid-column: 1;
  color: var(--amarelo);
  cursor: pointer;
  font-size: var(--fontePequena);
  font-weight: var(--fonteSemiBold);
  text-decoration: none;
}

 .modal_form_cadastro .dialogo-cadastro-button {
  all: unset;
  grid-row-start: 7;
  grid-column: 3;
  align-self: start;
  font-size: var(--fontePequena);
  font-weight: var(--fonteSemiBold);
  justify-self: end;
  padding: var(--espacamentoPequeno) var(--espacamentoMenor);
  border-radius: var(--bordaRaio);
  background-color: var(--amarelo);
  color: var(--verde);
  cursor: pointer;
}

.dialogo-cadastro-input-nome,
.dialogo-cadastro-input-email, 
.dialogo-cadastro-input-cpf, 

.dialogo-cadastro-input-senha,
.dialogo-cadastro-input-confirme-senha{
  width: 90%;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
}