.secao_compras{

    display: grid;
    gap: 8px;
    margin: 0 var(--espacamentoMenor) var(--espacamentoMaior)
}

.secao_compras_titulo {

    color: var(--amarelo);
    font-size: var(--fonteTitulo);
    font-weight: var(--fonteBold);
}

.secao_compras_titulo--verde {

    color: var(--verde);
}

.secao_compras_titulo--comMargem {

    margin: var(--espacamentoMaior) 0 0 0;
}

.secao_compras_produtos {

    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMaior);
}

.secao_compras_produtos_lista {

    display: flex;
    gap: var(--espacamentoMenor);
    margin: 0 0 0 var(--espacamentoMenor);
}

.secao_compras_produtos_lista_item {
    display: grid;
    gap: var(--espacamentoMenor);
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    scroll-snap-align: center;
}

.secao_compras_lista_item_produto {

    display: grid;
    gap: var(--espacamentoMaior);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 12.5rem;
    padding: var(--espacamentoMenor) var(--espacamentoPequeno);
    box-shadow: 0px 10px 42px -7px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.secao_compras_lista_item_produto_imagem {

    grid-column: 1 / 3;
    height: var(--tamanhoFotoGrande);
    margin: 0 auto;
    width: var(--tamanhoFotoGrande);
}

.secao_compras_lista_item_produto_valores {

    gap: var(--espacamentoMenor);
    grid-row-start: 4;
    justify-content: space-between;
    width: 100%;
}

.secao_compras_lista_item_produto_titulo {

    align-self: flex-start;
    color: var(--verde);
    font-size: var(--fonteSegundaria);
    font-weight: var(--fonteBold);
    grid-column: 1 / 3;
}

.secao_compras_lista_item_produto_titulo--preco {

    align-self: center;
    color: var(--azul);
    grid-column: 1 / 2;
    grid-row-start: 3;
    justify-self: start;
}

.secao_compras_lista_item_produto_titulo--azul {

    color: var(--azul);
}

.secao_compras_lista_item_produto_titulo--amarelo {

    color: var(--amarelo);
}

.secao_compras_lista_item_produto_comparar {
    align-self: center;
    color: #ffffff;
    background-color: var(--azul);
    border-radius: var(--bordaRaio);
    font-weight: var(--fonteSemiBold);
    font-size: var(--fontePequena);
    justify-self: end;
    grid-row-start: 3;
    grid-column: 2 / 3;
    padding: 0.5rem 0.2rem;
    border: none;
    width: max-content;
}

.secao_compras_lista_item_produto_comparar--naoEncontrado {

    background-color: var(--vermelho);
}

.secao_compras_lista_item_produto_titulo--melhorPreco{

    grid-row-start: 3;
    grid-column: 2 / 3;
    text-align: center;

}

.secao_compras_lista_item_produto_titulo--naoMelhorPreco{

    color: var(--amarelo);
    grid-row-start: 3;
    grid-column: 2 / 3;
    text-align: center;
    border: 5px solid var(--amarelo);
    border-radius: var(--bordaRaio);
    padding: var(--espacamentoPequeno) var(--espacamentoMenor);

}


.secao_compras_lista_item_produto_carrinho {
    
    color: #ffffff;
    background-color: var(--verde);
    border-radius: var(--bordaRaio);
    font-weight: var(--fonteSemiBold);
    font-size: var(--fontePequena);
    grid-column: 1 / 3;
    justify-self: center;
    text-align: center;
    height: 2.5rem;
    width: 9rem;
    border: none;
}

.secao_compras_lista_item_produto_carrinho--margem{

    align-self: center;
    grid-row: span 2 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: end;
    margin: 0 var(--espacamentoPequeno) 0 0;
    
}


.secao_compras_lista_item_produto_imagem--mercado {
    height: var(--tamanhoIconeGrande);
    width: 100%;
}

.secao_compras_lista_item_produto_imagem--mercado img {
    height: 100%;
    width: var(--tamanhoFotoPequena);
    object-fit: cover;
    object-position: center;
}


@media (min-width: 768px) {

    .secao_compras_produtos_lista {

        gap: var(--espacamentoMaior);
    }
}