:root {

    font-size: 16px;
    font-family: var(--fontePrincipal);

    --azul: #054AAE;
    --verde: #2F7339;
    --amarelo: #FFC200;
    --vermelho: #D90D1E;
    --branco: #FFFFFFFF;

    --fontePrincipal: "Poppins", sans-serif;
    --fonteTitulo: 1.25rem;
    --fonteSegundaria: 1rem;
    --fontePequena: 0.5rem;
    --fonteRegular: 400;
    --fonteMedium: 500;
    --fonteSemiBold: 600;
    --fonteBold: 700;
    --fonteExtraBold: 800;

    --espacamentoMaior: 2rem;
    --espacamentoMenor: 1rem;
    --espacamentoPequeno: 0.5rem;

    --borda: 2px solid;
    --bordaRaio: 0.5rem;

    --tamanhoIcone: 1.5rem;
    --tamanhoIconeGrande: 2.5rem;
    --tamanhoIconePequeno: 1rem;
    --tamanhoFotoGrande: 7.938rem;
    --tamanhoFotoPequena: 4.375rem;

}

* {

    font-family: var(--fontePrincipal);

    input, input::placeholder{
        background-color: var(--branco);
        border: var(--borda) #fff;
        color: var(--verde);
        
    }

    input:focus {
        outline: 2px solid var(--amarelo);
    } 
}

.barraRolagem {
    scrollbar-color: var(--azul) #FFF;
    scrollbar-width: thin;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.barraRolagem--vertical {
    overflow-y: auto;
}


.barraRolagem--amarelo {
    scrollbar-color: var(--amarelo) #FFF;
}

.barraRolagem::-webkit-scrollbar {
    width: 3px;

}

.barraRolagem::-webkit-scrollbar-track {
    background-color: #ffffff;
    /* Cor de fundo da faixa da barra de rolagem */
}

.barraRolagem::-webkit-scrollbar-thumb {
    background-color: #054AAE;
    border-radius: 10px;
    /* Bordas arredondadas para a parte deslizante */
}

@media (min-width: 768px) {

    :root {

        font-size: 20px;
    }
}

.modal-fundo{
    position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3); /* Um pouco mais transparente */
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
    display: grid;
    background-color: var(--azul);
    padding: var(--espacamentoMenor);
    border-radius: var(--bordaRaio);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90vw;
    max-width: 25rem;
    height: auto;
    max-height: 80vh;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
  }

  #desabilitado {
    display: none;
  }