.secao_resumo_titulo {
  color: var(--azul);
  font-size: var(--fonteSegundaria);
  font-weight: var(--fonteSemiBold);
  grid-column: span 2 / span 2;
  grid-row-start: 1;
  margin: var(--espacamentoMaior) var(--espacamentoMenor) 0 var(--espacamentoMenor);
}

.secao_resumo_produtos {

  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.secao_resumo_produtos_logoMercado {

  height: var(--tamanhoFotoPequena);
  margin: 0 var(--espacamentoMenor) var(--espacamentoMenor) var(--espacamentoMenor);
}

.secao_resumo_compra {
  display: flex;
  margin: 2rem 0rem;
  gap: 10vw;
}

.secao_resumo_total {
  color: var(--azul);
  font-weight: var(--fonteSemiBold);
  grid-row-start: 3;
  margin: 0 var(--espacamentoMenor)
}

.secao_resumo_economizou {
  color: var(--verde);
  font-weight: var(--fonteSemiBold);
  grid-column-start: 1;
  grid-row-start: 4;
  margin: 0 var(--espacamentoMenor)
}