.secao_estatisticas{

    display: flex;
    color: var(--amarelo);
    gap: var(--espacamentoPequeno);
    justify-content: center;
    margin: var(--espacamentoMaior) 0;
    text-align: center;

}

.secao_estatisticas_item{

    border-radius: var(--bordaRaio);
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    font-weight: var(--fonteExtraBold);
    gap: var(--espacamentoMenor);
    padding: var(--espacamentoMenor);
}

.secao_estatisticas_item_titulo{

    font-size: 0.625rem;
}

.secao_estatisticas_item_valor{

    font-size: 1rem;
}