.teste{

    display: block;
}

.cabecalho{

    align-items: center;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    padding: var(--espacamentoMenor);
}

.cabecalho_titulo{

    color: var(--amarelo);
    font-weight: var(--fonteSemiBold);
    margin: auto;
}