.teste{

    display: block;
}

.cabecalho {
    background-color: var(--azul);
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Colunas flexíveis */
    grid-template-rows: auto; /* Linha única */
    padding: var(--espacamentoMenor);
    align-items: center; /* Alinha os itens verticalmente no centro da linha */
}

.cabecalho_link {
    grid-column: 1; /* Coluna 1 */
    grid-row: 1; /* Linha 1 */
    justify-self: start; /* Alinha à esquerda */
}

.cabecalho_titulo {
    color: var(--amarelo);
    font-weight: var(--fonteSemiBold);
    grid-column: 2; /* Coluna 2 */
    grid-row: 1; /* Linha 1 */
    justify-self: center; /* Centraliza o título na coluna */
}