.secao_compras{

    margin: 0 var(--espacamentoMenor) var(--espacamentoMaior);
}

.secao_compras_titulo{

    color: var(--amarelo);
    font-size: var(--fonteTitulo);
    font-weight: var(--fonteBold);
    margin: 0 0 var(--espacamentoMaior) 0;
}

.secao_compras_titulo--verde{

    color: var(--verde);
}

.secao_compras_produtos{

    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMaior);
}

.secao_compras_produtos_lista{

    display: flex;
    gap: var(--espacamentoMenor);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
}

@media (min-width: 800px){
    .secao_compras_produtos_lista::-webkit-scrollbar {
        height: 8px;
    }
    
    .secao_compras_produtos_lista::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
    }
    
    .secao_compras_produtos_lista::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    }

.secao_compras_produtos_lista_item{

    display: flex;
    flex-direction: row;
    scroll-snap-align: center;
   

}

.secao_compras_lista_item_produto{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMaior);
    justify-content: space-around;
    width: 12.5rem;
    
}

.secao_compras_lista_item_produto:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.secao_compras_lista_item_produto_imagem{

    width: 100%;
}

.secao_compras_lista_item_produto_valores{

    align-items: center;
    display: flex;
    gap:var(--espacamentoMenor);
    justify-content: space-between;
    width: 100%;
}

.secao_compras_lista_item_produto_titulo{

    color:  var(--verde);
    font-size:  var(--fonteSegundaria);
    font-weight: var(--fonteBold);
}

.secao_compras_lista_item_produto_titulo--preço{

    color: var(--azul);
}

.secao_compras_lista_item_produto_comparar--preco{
    color: #ffffff;
    background-color: var(--azul);
    border-radius: var(--bordaRaio);
    font-family: var(--fontePrincipal);
    font-weight: var(--fonteSemiBold);
    font-size:  var(--fontePequena);
    padding: 0.5rem 0.2rem;
}

.secao_compras_lista_item_produto_adicionar--carrinho{
    width: 100%;
    color: #ffffff;
    background-color: var(--verde);
    border-radius: var(--bordaRaio);
    padding: 0.6rem 2.5rem;
    font-family: var(--fontePrincipal);
    font-weight: var(--fonteSemiBold);
    font-size: var(--fontePequena);
}

@media (min-width: 768px){

    .secao_compras_produtos_lista{
        
        gap: var(--espacamentoMaior);
    }
}

