.cabecalhoTeste{

    align-items: center;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    padding: var(--espacamentoMenor);
}

.cabecalho_titulo{

    color: var(--amarelo);
    font-weight: var(--fonteSemiBold);
    margin: auto;
}

.secao_compras{

    margin: 0 var(--espacamentoMenor) var(--espacamentoMaior);
}

.secao_compras_titulo{

    color: var(--amarelo);
    font-size: var(--fonteTitulo);
    font-weight: var(--fonteBold);
    margin: 0 0 var(--espacamentoMaior) 0;
}

.secao_compras_titulo--verde{

    color: var(--verde);
}

.secao_compras_produtos{

    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMaior);
}

.secao_compras_produtos_lista{

    display: flex;
    gap: var(--espacamentoMenor);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.secao_compras_produtos_lista_item{

    display: flex;
    flex-direction: row;
    scroll-snap-align: center;

}

.secao_compras_lista_item_produto{

    display: flex;
    flex-direction: column;
    gap: var(--espacamentoMenor);
}

.secao_compras_lista_item_produto_imagem{

    width: var(--tamanhoFotoGrande);
}

.secao_compras_lista_item_produto_valores{

    display: flex;
    justify-content: space-between;
    gap:var(--espacamentoMenor);
}

.secao_compras_lista_item_produto_titulo{

    color:  var(--verde);
    font-size:  var(--fontePequena);
    font-weight: var(--fonteBold);
}

.secao_compras_lista_item_produto_titulo--preço{

    color: var(--azul);
}

.secao_compras_lista_item_produto_titulo--desconto{

    color: var(--amarelo);
}