:root{

    font-size: 16px;
    font-family: var(--fontePrincipal);
    
    --azul: #054AAE;
    --verde: #2F7339;
    --amarelo: #FFC200;
    --vermelho: #D90D1E;

    --fontePrincipal: "Poppins", sans-serif;
    --fonteTitulo: 1.25rem;
    --fonteSegundaria: 1rem;
    --fontePequena: 0.625rem;
    --fonteRegular: 400;
    --fonteSemiBold: 600;
    --fonteBold: 700;
    --fonteExtraBold: 800;

    --espacamentoMaior: 2rem;
    --espacamentoMenor: 1rem;
    --espacamentoPequeno: 0.5rem;

    --borda: 2rem solid; 
    --bordaRaio: 0.5rem;

    --tamanhoIcone: 1.5rem;
    --tamanhoFotoGrande: 7.938rem;
    --tamanhoFotoPequena: 4.375rem;

}

.barraRolagem {

    scrollbar-color: var(--azul) #FFF;
    scrollbar-width: thin;
}

.barraRolagem::-webkit-scrollbar {
    width: 3px;
}

.barraRolagem::-webkit-scrollbar-track {
    background-color: #ffffff; /* Cor de fundo da faixa da barra de rolagem */
}

.barraRolagem::-webkit-scrollbar-thumb {
    background-color: #054AAE;
    border-radius: 10px; /* Bordas arredondadas para a parte deslizante */
}

@media (min-width: 768px){

    :root{
        
        font-size: 24px;
    }
}