main {
    .secao_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamentoMenor);

    h2 {
        color: var(--verde);
        font-weight: var(--fonteBold);
    }
   
    img {
        margin: var(--espacamentoMenor);
        width: var(--tamanhoFotoPequena);
    }
    
    p {
        color: var(--azul);
        font-size: var(--fontePequena);
        font-weight: var(--fonteExtraBold)
    }
};

.perfil_secao_estatisticas {
    margin-top: var(--espacamentoMaior);   
    display: flex;
    flex-direction: column;

    h3 {
        color: var(--amarelo);
        font-weight: var(--fonteBold);
    }

    .perfil_scroll_valores {
        display: flex;
        margin-top: var(--espacamentoMaior);
        margin-bottom: var(--espacamentoMaior);

        ul {
            display: flex;
            justify-content: flex-start;
            gap: var(--espacamentoMenor);
            width: 100vw;
            overflow-y: hidden;
            overflow-x: auto;
            li {
                display: flex;
                font-size: 16px;
                background-color: var(--azul);
                color: var(--amarelo);
                width: 208px;
                height: 50px;
                border-radius: var(--bordaRaio);
                .scroll_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                gap: var(--espacamentoPequeno);

                p {
                    font-weight: var(--fonteBold);
                }
            }
            }

          
        }
    }
}

.secao_info_mercados {
    width: 100vw;
    display: flex;
    flex-direction: column;

    h3 {
        color: var(--amarelo);
        font-weight: var(--fonteBold);
    }

    ul {
        width: 100vw;
        display: flex;
        align-items: center;
        margin-top: var(--espacamentoMaior);
        margin-bottom: var(--espacamentoMaior);
        li {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            .info_compras {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                height: 40px; 
            }

            a {
                font-size: var(--fontePequena);
                color: var(--azul);
                font-weight: var(--fonteBold);
            }
        }
    }
}


.secao_ultimas_compras {
    h3 {
        color: var(--amarelo);
        font-weight: var(--fonteBold);
    }

    .scrool_ultimas_compras {
        ul {
            display: flex;
            justify-content: flex-start;
            gap: var(--espacamentoMenor);
            width: 100vw;
            overflow-y: hidden;
            overflow-x: auto;
            li {
                .scroll_produto {
                    img {
                        width: var(--tamanhoFotoGrande)
                    }
                }
            }
        }
    }
}

}
